body {
    margin: 0;
    overflow: hidden;
    background: #363636;
}

#pong-welcome-screen,
#pong-field-screen {
    transition: opacity 0.5s ease-out;
}

.transparent {
    opacity: 0;
}

text {
    font-family: Bangers, Arial, Helvetica, sans-serif;
    fill: rebeccapurple;
}
.text-huge {
    font-size: 3em;
}
.text-big {
    font-size: 2em;
}

.text-emphasis {
    fill: violet;
    font-size: 1.1em;
}

.play-text {
    fill: white;
}

/* Field */

#pong-field-screen {
    background: #363636;
}

#pong-field {
    fill: #363636;
    stroke-width: 1px;
    stroke: white;
    stroke-dasharray: 400 300;
}

.score-text {
    font-size: 4em;
}

#left-player,
.score-text-left {
    fill: purple;
}

#right-player,
.score-text-right {
    fill: violet;
}

#ball {
    fill: #44fff6;
}

/* Overlay */
#pause-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(255, 255, 255, 0.3);
}
